.paymentWrapper {
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.cardWrapper {
	width: 40% !important;
	background: var(--primary-dark-bg);
	padding: 2rem;
	border-radius: 15px;
	margin-block: 2rem;
}

.fields {
	background: transparent !important;
	border: none !important;
	width: 100% !important;
}
.stripe_fields,
.stripe_fields_custom {
	border: 1px solid black;
	outline: none;
	padding: 1rem;
	width: 100%;
	border-radius: 50rem;
	background-color: #d3caca2e;
	color: white !important;
}
.stripe_fields_custom {
	padding: 0.8rem;
}
.stripe_input {
	background: transparent;
	outline: none;
	border: none;
	width: 100%;
	color: white;
	font-size: 0.9rem;
}
.fields:focus,
.stripe_fields_custom:focus {
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
}
.stripe_textArea {
	background: transparent;
	width: 100%;
	padding: 1rem;
	outline: none;
	border-color: black;
	border-radius: 20px;
	background-color: #d3caca2e;
	color: white !important;
}

.stripe_btn {
	border-radius: 50px;
}
.masterCardfield {
	border: none !important;
}

.masterCardWrapper {
	height: 4vh !important;
	background-color: #ffffff56;
	border-radius: 8px;
	padding-left: 10px;
}

.inputfields {
	background-color: #ffffff56 !important;
}

.inputfields:focus {
	box-shadow: none !important;
	background-color: #ffffff56;
	outline: none !important;
	border: none !important;
}
.inputfields:active {
	box-shadow: none !important;
	outline: none !important;
	border: none !important;
}

@media only screen and (max-width: 1300px) {
	.cardWrapper {
		width: 60% !important;
	}
}
@media only screen and (max-width: 900px) {
	.cardWrapper {
		width: 80% !important;
	}
}
@media only screen and (max-width: 600px) {
	.cardWrapper {
		width: 100% !important;
	}
}
